<ul class="navigation {% if nested is defined %}nested{% endif %}">
{% if nested is not defined %}
    {% set nested = true %}
{% endif %}
{% for key,value in files %}
    {% if value is iterable %}
        <li>
<span role="button" 
 aria-expanded="true"
 data-toggle="collapse"
 data-target="#collapse{{ key }}"
 onclick="handleNavClick(event)">
- {{ key }}/
</span>
</li>
        {% set files = value %}
        <div id="collapse{{ key }}" class="collapse show">
        {{ include('page/_navigation.html.twig') }}
        </div>
    {% else %}
      <li><a href="{{ path('note', {'directory': value, 'note' : key }) }}">{{ key }}</a></li>
    {% endif %}
{% endfor %}
</ul>
